.btn {
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  font-size: 1rem;
}
.btn--blue {
  background: #008AFC 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.41);
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-left: 5.55rem;
  padding-right: 5.55rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn--blue:hover {
  background: #1492FB 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.41);
}
.btn--blue:active,
.btn--blue:focus {
  background: #0A82E5 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.41);
}
.btn--green {
  background: #19D225 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.41);
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-left: 5.55rem;
  padding-right: 5.55rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn--green:hover {
  background: #1EDC2A 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.41);
}
.btn--green:active,
.btn--green:focus {
  background: #11BC1C 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.41);
}
.btn--red {
  background: #E00F4D 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.41);
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-left: 5.55rem;
  padding-right: 5.55rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn--red:hover {
  background: #F1225F 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.41);
}
.btn--red:active,
.btn--red:focus {
  background: #DC1D55 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.41);
}
.btn--transparent {
  text-align: center;
  letter-spacing: 0;
  color: #008AFC;
  border-radius: 6px;
  border: 2px solid transparent;
  padding-left: 5.55rem;
  padding-right: 5.55rem;
  padding-top: 1.1rem;
  padding-bottom: 1.05rem;
}
.btn--transparent:hover {
  background: #FFFFFF00 0% 0% no-repeat padding-box;
  border: 2px solid #DFF1FF;
}
.btn--transparent:active,
.btn--transparent:focus {
  background: #FFFFFF00 0% 0% no-repeat padding-box;
  border: 2px solid #A3C9E8;
}
@media (max-width: 1800px) {
  .btn {
    font-size: 0.75rem;
  }
}
