@import "vendor/jquery.fullPage.css";
@import "vendor/flexboxgrid.css";
@import "_normalize.css";
@import "_fonts.css";
.btn {
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  font-size: 1rem;
}
.btn--blue {
  background: #008AFC 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.41);
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-left: 5.55rem;
  padding-right: 5.55rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn--blue:hover {
  background: #1492FB 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.41);
}
.btn--blue:active,
.btn--blue:focus {
  background: #0A82E5 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.41);
}
.btn--green {
  background: #19D225 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.41);
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-left: 5.55rem;
  padding-right: 5.55rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn--green:hover {
  background: #1EDC2A 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.41);
}
.btn--green:active,
.btn--green:focus {
  background: #11BC1C 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.41);
}
.btn--red {
  background: #E00F4D 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.41);
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-left: 5.55rem;
  padding-right: 5.55rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn--red:hover {
  background: #F1225F 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.41);
}
.btn--red:active,
.btn--red:focus {
  background: #DC1D55 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.41);
}
.btn--transparent {
  text-align: center;
  letter-spacing: 0;
  color: #008AFC;
  border-radius: 6px;
  border: 2px solid transparent;
  padding-left: 5.55rem;
  padding-right: 5.55rem;
  padding-top: 1.1rem;
  padding-bottom: 1.05rem;
}
.btn--transparent:hover {
  background: #FFFFFF00 0% 0% no-repeat padding-box;
  border: 2px solid #DFF1FF;
}
.btn--transparent:active,
.btn--transparent:focus {
  background: #FFFFFF00 0% 0% no-repeat padding-box;
  border: 2px solid #A3C9E8;
}
@media (max-width: 1800px) {
  .btn {
    font-size: 0.75rem;
  }
}
body {
  background-color: #0098F5;
  color: #393939;
  font-family: "Segoe UI";
  line-height: 1;
  min-width: 1024px;
}
h2 {
  font-size: 3rem;
  line-height: 1.35;
  font-weight: bold;
  margin: 0 0 1.49rem 0;
}
h3 {
  font-size: 2.25rem;
  line-height: 1.35;
  font-weight: 600;
  margin: 0 0 0.6rem 0;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.35;
  font-weight: 600;
  margin: 0 0 1.05rem 0;
}
p {
  font-size: 1.25rem;
  line-height: 1.35;
  margin: 0;
  padding: 0 0 2.5rem 0;
  font-weight: 300;
}
.b-wrapper {
  max-width: 1344px;
  margin-left: 19%;
  margin-right: 6%;
}
.b-wrapper--2 {
  max-width: 1344px;
  margin-left: 9%;
  margin-right: 9%;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.b-wrapper--2 .b-text {
  padding-left: 7.9rem;
}
.b-wrapper--3 {
  max-width: 1590px;
  margin: 0 auto;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.b-wrapper--3 .col-xs-4 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.b-wrapper--4 {
  color: #fff;
  margin: 0 auto;
}
.b-wrapper--4 h2 {
  max-width: 800px;
}
.b-wrapper--4 p {
  max-width: 578px;
  margin: 0 auto;
}
.b-wrapper--4.center-xs {
  padding-top: 3rem;
  text-align: center;
}
.b-wrapper--5 {
  margin: 0 auto;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.b-wrapper--5 .col-xs-4 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.center-xs {
  text-align: left;
  padding: 0;
}
.p-l-0 {
  padding-left: 0;
}
.p-r-0 {
  padding-right: 0;
}
.m-r-1 {
  margin-right: 1rem;
}
.w-240 {
  width: 240px;
}
.w-256 {
  width: 256px;
}
.b-422 {
  max-width: 422px;
}
.b-528 {
  max-width: 528px;
}
.b-img img {
  width: 800px;
  margin-left: -19%;
}
.b-img--small img {
  margin-left: -12%;
  margin-top: 5%;
}
.img-bottom {
  width: 100%;
}
.b-firefox-logo {
  margin-bottom: 2.2rem;
}
.b-firefox-logo img {
  width: 100%;
  max-width: 278px;
}
.list__plugins {
  list-style: none;
  margin: 0;
  padding: 0 0 15px 34px;
}
.h-savefromnet {
  position: relative;
  font-size: 2.25rem;
  line-height: 1.35;
  font-weight: 600;
  margin: 0 0 0.6rem 0;
  color: #393939;
  text-decoration: none;
}
.h-savefromnet:before {
  content: "";
  background-image: url(../img/savefrom-logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 24px;
  position: absolute;
  left: -33px;
  top: 10px;
  width: 24px;
}
.h-wondertab {
  position: relative;
  font-size: 2.25rem;
  line-height: 1.35;
  font-weight: 600;
  margin: 0 0 0.6rem 0;
  color: #393939;
  text-decoration: none;
}
.h-wondertab:before {
  content: "";
  background-image: url(../img/wondertab-logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 24px;
  position: absolute;
  left: -33px;
  top: 10px;
  width: 24px;
}
.t-description {
  font-size: 1.25rem;
  padding: 0 0 1.6rem 0;
}
.t-small {
  font-size: 1rem;
  padding: 0 0 0.6rem 0;
  font-weight: normal;
}
.section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.section--background {
  position: relative;
}
.section--background:before {
  content: "";
  background-image: url(../img/page-bg.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: absolute;
  width: 200%;
  left: 14%;
  background-size: cover;
  z-index: -1;
  height: 300%;
  bottom: 83%;
}
.section--space-around {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.b-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.41);
  padding-left: 2.85rem;
  padding-right: 2.7rem;
  padding-bottom: 1.3rem;
  width: auto;
}
.b-card .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.b-card__icon {
  padding-top: 11px;
}
.b-card--small {
  width: 288px;
  text-align: center;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-bottom: 2.7rem;
  min-height: 316px;
}
.b-card--small h4 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.b-card--small .b-card__icon {
  padding-top: 44px;
  padding-bottom: 6px;
}
.b-card--middle {
  padding-bottom: 5.3rem;
}
.b-card--middle .b-card__icon {
  padding-top: 64px;
}
.b-card--green {
  border: 4px solid #19D225;
}
.b-card--green .t-colored {
  color: #19D225;
}
.b-card--blue {
  border: 4px solid #0098F5;
}
.b-card--blue .t-colored {
  color: #0098F5;
}
.b-card--dark-blue {
  border: 4px solid #183DB8;
}
.b-card--dark-blue .t-colored {
  color: #183DB8;
}
.b-card--red {
  border: 4px solid #E00F4D;
}
.b-card--red .t-colored {
  color: #E00F4D;
}
@media (max-width: 1800px) {
  h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }
  h3,
  .h-savefromnet,
  .h-wondertab {
    font-size: 1.5rem;
    margin: 0;
  }
  .b-firefox-logo {
    margin-bottom: 1.5rem;
  }
  .b-firefox-logo img {
    max-width: 200px;
  }
  .b-img img {
    width: 100%;
    margin-left: 0;
  }
  .b-img--small img {
    width: 100%;
    margin-left: 0;
    margin-top: 5%;
  }
  .b-wrapper--2 {
    max-width: none;
    margin-left: 3%;
    margin-right: 4%;
  }
  .b-wrapper--2 .b-text {
    padding-left: 0;
  }
  .b-card {
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .b-card--small {
    padding-bottom: 1.5rem;
    min-height: auto;
  }
  .b-card--small .b-card__icon {
    padding-top: 11px;
  }
  .b-card--middle {
    padding-bottom: 1.5rem;
  }
  .b-card--middle .b-card__icon {
    padding-top: 11px;
  }
}
@media (max-width: 1440px) {
  .b-wrapper {
    max-width: none;
    margin-left: 16%;
    margin-right: 2%;
  }
  .b-wrapper--2 {
    margin-left: 6%;
    margin-right: 20%;
  }
  .b-firefox-logo {
    margin-bottom: 0.5rem;
  }
  .b-img--small img {
    max-width: 600px;
  }
}
@media (max-width: 1366px) {
  .b-wrapper--2 {
    margin-left: -2%;
    margin-right: 11%;
  }
  .list__plugins {
    padding-bottom: 0;
  }
  .mw-178 {
    width: 178px;
  }
  p {
    font-weight: normal;
    font-size: 1rem;
  }
  .t-description {
    font-size: 0.875rem;
  }
  .t-small {
    font-size: 0.875rem;
  }
}
