@import "vendor/jquery.fullPage.css";
@import "vendor/flexboxgrid.css";
@import "_normalize.css";
@import "_fonts.css";
@import "_mixins";
@import "_variables";
@import "_buttons";


body {
  background-color: @body-background;
  color: @text-color;
  font-family: @font-segoe ;
  line-height:1;
  min-width:1024px
}


h2 {
  .rem(48);
  line-height: 1.35;
  font-weight: bold;
  margin: 0 0 1.49rem 0;
}

h3 {
  .rem(36);
  line-height: 1.35;
  font-weight: 600;
  margin: 0 0 0.6rem 0;
}

h4 {
  .rem(24);
  line-height: 1.35;
  font-weight: 600;
  margin: 0 0 1.05rem 0;
}

p {
  .rem(20);
  line-height: 1.35;
  margin: 0;
  padding: 0 0 2.5rem 0;
  font-weight: 300;
}

.b-wrapper {
  max-width: 1344px;
  margin-left: 19%;
  margin-right: 6%;
}

.b-wrapper--2 {
  max-width: 1344px;
  margin-left: 9%;
  margin-right: 9%;
  .align-items(center);

  & .b-text {
    padding-left: 7.9rem;
  }
}

.b-wrapper--3 {
  max-width: 1590px;
  margin: 0 auto;
  .align-items(flex-end);

  & .col-xs-4 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.b-wrapper--4 {
  color: #fff;
  margin: 0 auto;

  & h2 {
    max-width: 800px;
  }

  & p {
    max-width: 578px;
    margin: 0 auto;
  }

  &.center-xs {
    padding-top: 3rem;
    text-align: center;
  }
}

.b-wrapper--5 {
  margin: 0 auto;
  .align-items(flex-end);

  & .col-xs-4 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.center-xs {
  text-align: left;
  padding: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.m-r-1 {
  margin-right: 1rem;
}

.w-240 {
  width: 240px;
}

.w-256 {
  width: 256px;
}

.b-422 {
  max-width: 422px;
}

.b-528 {
  max-width: 528px;
}

.b-img {
  & img {
    width: 800px;
    margin-left: -19%;
  }
}

.b-img--small {
  & img {
    margin-left: -12%;
    margin-top: 5%;
  }
}

.img-bottom {
  width: 100%;
}

.b-firefox-logo {
  margin-bottom: 2.2rem;

  & img {
    width: 100%;
    max-width: 278px;
  }
}

.list__plugins {
  list-style: none;
  margin: 0;
  padding: 0 0 15px 34px;
}

.h-savefromnet {
   position: relative;
  .rem(36);
  line-height: 1.35;
  font-weight: 600;
  margin: 0 0 0.6rem 0;
  color: @text-color;
  text-decoration: none;

   &:before {
     content: "";
     background-image: url(../img/savefrom-logo.svg);
     background-repeat: no-repeat;
     background-position: center center;
     height: 24px;
     position: absolute;
     left: -33px;
     top: 10px;
     width: 24px;
   }
}

.h-wondertab {
  position: relative;
  .rem(36);
  line-height: 1.35;
  font-weight: 600;
  margin: 0 0 0.6rem 0;
  color: @text-color;
  text-decoration: none;

  &:before {
    content: "";
    background-image: url(../img/wondertab-logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 24px;
    position: absolute;
    left: -33px;
    top: 10px;
    width: 24px;
  }
}

.t-description {
  .rem(20);
  padding: 0 0 1.6rem 0;
}

.t-small {
  .rem(16);
  padding: 0 0 0.6rem 0;
  font-weight: normal;
}

.section {
  .flex-display();
  .justify-content(space-around);
  .flex-direction(column);
}

.section--background {
  position: relative;

  &:before {
    content: "";
    background-image: url(../img/page-bg.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    width: 200%;
    left: 14%;
    background-size: cover;
    z-index: -1;
    //for three pages
    height: 300%;
    bottom: 83%;
  }
}

.section--space-around {
  .justify-content(space-between);
}

.b-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.41);
  padding-left: 2.85rem;
  padding-right: 2.7rem;
  padding-bottom: 1.3rem;
  width: auto;

  .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__icon {
    padding-top: 11px;
  }

  &--small {
    width: 288px;
    text-align: center;
    padding-left: .9rem;
    padding-right: .9rem;
    padding-bottom: 2.7rem;
    min-height: 316px;

    & h4 {
      padding-left: .2rem;
      padding-right: .2rem;
    }

    & .b-card__icon {
      padding-top: 44px;
      padding-bottom: 6px;
    }
  }

  &--middle {
    padding-bottom: 5.3rem;

    & .b-card__icon {
      padding-top: 64px;
    }
  }

  &--green {
    border: 4px solid @green;

    & .t-colored {
      color: @green;
    }
  }

  &--blue {
    border: 4px solid @blue;

    & .t-colored {
      color: @blue;
    }
  }

  &--dark-blue {
    border: 4px solid @dark-blue;

    & .t-colored {
      color: @dark-blue;
    }
  }

  &--red {
    border: 4px solid @red;

    & .t-colored {
      color: @red;
    }
  }
}

//Media
@media (max-width: 1800px) {
  h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
  }

  h3, .h-savefromnet, .h-wondertab {
    font-size: 1.5rem;
    margin: 0;
  }

  .b-firefox-logo {
    margin-bottom: 1.5rem;

    & img {
      max-width: 200px;
    }
  }

  .b-img {
    & img {
      width: 100%;
      margin-left: 0;
    }
  }

  .b-img--small {
    & img {
      width: 100%;
      margin-left: 0;
      margin-top: 5%;
    }
  }

  .b-wrapper--2 {
    max-width: none;
    margin-left: 3%;
    margin-right: 4%;

    & .b-text {
      padding-left: 0;
    }
  }

  .b-card {
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &--small {
      padding-bottom: 1.5rem;
      min-height: auto;

      & .b-card__icon {
        padding-top: 11px;
      }
    }

    &--middle {
      padding-bottom: 1.5rem;

      & .b-card__icon {
        padding-top: 11px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .b-wrapper {
    max-width: none;
    margin-left: 16%;
    margin-right: 2%;
  }

  .b-wrapper--2 {
    margin-left: 6%;
    margin-right: 20%;
  }

  .b-firefox-logo {
    margin-bottom: 0.5rem;
  }

  .b-img--small img {
    max-width: 600px;
  }
}

@media (max-width: 1366px) {
  .b-wrapper--2 {
    margin-left: -2%;
    margin-right: 11%;
  }

  .list__plugins {
    padding-bottom: 0;
  }

  .mw-178 {
    width: 178px;
  }

  p {
    font-weight: normal;
    .rem(16);
  }

  .t-description {
    .rem(14);
  }

  .t-small {
    .rem(14);
  }
}
